<div th:fragment="navbar" class="nav">
    <a th:href="@{/}" class="home">
        HOME
    </a>
    <div th:if="!${#request.userPrincipal}" class="basicButton">
        <a th:href="@{/register}">Register</a>
    </div>
    <div th:if="!${#request.userPrincipal}" class="basicButton">
        <a th:href="@{/login}">Login</a>
    </div>
    <div th:if="${#request.userPrincipal}" class="basicButton">
        <a th:href="@{/logout}">Logout</a>
    </div>
    <div class="basicButton">
        <a th:href="@{/cruise}">Cruise</a>
    </div>
    <div th:if="${#request.userPrincipal}" class="basicButton">
        <a th:href="@{/profile}">Profile</a>
    </div>
    <div th:if="${#request.userPrincipal}" class="basicButton">
        <a th:href="@{/addCruise}">Add new cruise</a>
    </div>
    <div class="basicButton">
        <a th:href="@{/orders}">Order list</a>
    </div>
</div>