.nav{
    width: 100%;
    background-color: deepskyblue;
    height: 50px;
    text-decoration: none;
}

.basicButton,.basicButton:link,.basicButton:visited,.basicButton:hover,.basicButton:focus,.basicButton:active{
    color: inherit;
    text-decoration: none;
}

.basicButton{
    background-color: mistyrose;
    width:fit-content;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    float: right;
    color: black;
    color: inherit;
}
.loginCenter{
    width: 100%;
    margin:5px;
    padding: 5px;
    text-align: center;
    font-size: 40px;
}

.content{
    padding-bottom: 2%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top:5%;
    margin-bottom: 20%;
    width: 60%;
    height: 150%;
    
    background-color:deepskyblue;
}

input{
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 1%;
    width: 70%;
    height: 23px;
    text-align: center;
    display: block;
}

.inputValues{
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
}

.home{
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    background-color: mistyrose;
    padding: 5px;

}