<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">
    <div th:replace="../static/topnav :: navbar">
    </div>
    <div>
        <div class="content">
            <div class="loginCenter">
                Add new cruise
            </div>
            <form method="post" th:action="@{/addCruise}" th:object="${cruiseDTO}" th:errorclass="is-valid" name="formError">
                <div>
                    <div class="inputValues">
                        cost
                    </div>
                    <input type="text" th:field="*{cost}" th:errorclass="is-valid" th:name="errorWithLogin">
                    <div th:if="${#fields.hasErrors('cost')}" th:errors="*{cost}" class="invalidFeedback" th:name="errorWithCost1"></div>

                    <div class="inputValues">
                        date
                    </div>
                    <input type="date" th:field="*{date}" th:errorclass="is-valid" th:name="errorWithDate">
                    <div th:if="${#fields.hasErrors('date')}" th:errors="*{date}" class="invalidFeedback" th:name="errorWithDate1"></div>

                    <div class="inputValues">
                        duration
                    </div>
                    <input type="text" th:field="*{duration}" th:errorclass="is-valid" th:name="errorWithDuration">
                    <div th:if="${#fields.hasErrors('duration')}" th:errors="*{duration}" class="invalidFeedback" th:name="errorWithDuration1"></div>

                    <div class="inputValues">
                        name of cruise
                    </div>
                    <input type="text" th:field="*{nameOfCruise}" th:errorclass="is-valid" th:name="errorWithNameOfCruise">
                    <div th:if="${#fields.hasErrors('nameOfCruise')}" th:errors="*{nameOfCruise}" class="invalidFeedback" th:name="errorWithNameOfCruise1"></div>

                    <div class="inputValues">
                        number of seats
                    </div>
                    <input type="text" th:field="*{numberOfSeats}" th:errorclass="is-valid" th:name="errorWithNumberOfSeats">
                    <div th:if="${#fields.hasErrors('numberOfSeats')}" th:errors="*{numberOfSeats}" class="invalidFeedback" th:name="errorWithNumberOfSeats1"></div>

                    <div class="inputValues">
                        route (id)
                    </div>
                    <input type="text" th:field="*{route}" th:errorclass="is-valid" th:name="errorWithRoute">
                    <div th:if="${#fields.hasErrors('route')}" th:errors="*{route}" class="invalidFeedback" th:name="errorWithRoute1"></div>

                    <div class="inputValues">
                        ship (id)
                    </div>
                    <input type="text" th:field="*{ship}" th:errorclass="is-valid" th:name="errorWithShip">
                    <div th:if="${#fields.hasErrors('ship')}" th:errors="*{ship}" class="invalidFeedback" th:name="errorWithShip1"></div>

                    <div class="inputValues">
                        time
                    </div>
                    <input type="time" th:field="*{time}" th:errorclass="is-valid" th:name="errorWithTime">
                    <div th:if="${#fields.hasErrors('time')}" th:errors="*{time}" class="invalidFeedback" th:name="errorWithTime1"></div>
                    <input type="submit" >
                </div>
            </form>
        </div>
    </div>
    <div class="footer">
    </div>
</div>
</body>
</html>