<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cruise app</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <div th:replace="../static/topnav :: navbar">
        </div>
        <div class="body">
            <div class="contentoftable">
                <table class="cruiselist">
                    <thead>

                    </thead>
                    <tbody>
<!--                    <tr th:if="${cruises.empty}">-->
<!--                        <td colspan="2"> No cruise avaliable :( </td>-->
<!--                    </tr>-->
                    <tr>
                        <td> Cruise </td>
                        <td> date </td>
                        <td> cost </td>
                        <td> start </td>
                        <td> finish </td>
                    </tr>
                    <tr th:each="cruise : ${cruises}">
                        <form method="post" th:action="@{/makeOrder}" th:object="${cruiseDTO}" name="formOrder" modelAttribute="cruise">
                            <td><span th:text="${cruise.nameOfCruise}" th:field="${cruise.nameOfCruise}"> nameOfCruise </span></td>
<!--                            <td><span th:text="${cruise.id}" th:field="${cruise.id}"> id </span></td>-->
                            <td><span th:text="${cruise.date}"> date </span></td>
                            <td><span th:text="${cruise.cost}"> cost </span></td>
                            <td><span th:text="${cruise.route.startPlace}"> start </span></td>
                            <td><span th:text="${cruise.route.finishPlace}"> finish </span></td>
                            <td><input  type="hidden" th:value="${cruise.id}" th:attr="name = 'cruiseid'"></td>
                            <td style="text-align: center;">
                                <span>
                                    Interested?
                                </span>
                                <div th:if="${#request.userPrincipal}">
                                    <input type="submit" value="order">
                                </div>
                                <div th:if="!${#request.userPrincipal}">
                                    <!-- content for anonymous -->
                                    <a th:href="@{/login}" style="color: cadetblue">SIGN IN TO ORDER </a>
                                </div>
                            </td>
                        </form>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="footer">
        
        </div>
    </div>
</body>
</html>