<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cruise app</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <div class="nav">
            <a th:href="@{/}" class="home">
                HOME
            </a>
            <div class="basicButton">
                <a th:href="@{/register}">Register</a>
            </div>
            <div class="basicButton">
                <a th:href="@{/loginx}">Login</a>
            </div>
            <div class="basicButton">
                <a th:href="@{/dawaj}">Cruise</a>
            </div>
            <div class="basicButton">
                <a th:href="@{/profile}">Profile</a>
            </div>
        </div>
        <div class="body">
            <div class="inBody">

            </div>
        </div>
        <div class="footer">
        
        </div>
    </div>
</body>
</html>