<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="internationalization.js"></script>
    <title>Cruise app</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <div th:replace="../static/topnav :: navbar">
        </div>
        <div class="body">
            <div class="inBody">
                <div th:fragment="language">
                    <span th:text="#{lang.change}"></span>:
                    <select id="locales">
                    <option value=""></option>
                    <option value="en" th:text="#{lang.eng}"></option>
                    <option value="pl" th:text="#{lang.pl}"></option>
                    </select>
                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
                </script>
                    <script type="text/javascript">
                    $(document).ready(function() {
                        $("#locales").change(function () {
                            var selectedOption = $('#locales').val();
                            if (selectedOption !== ''){
                                window.location.replace('?lang=' + selectedOption);
                            }
                        });
                    });
                </script>
                </div>
            </div>
        </div>
        <div class="footer">

        </div>
    </div>
</body>
</html>