<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="container">
        <div class="nav">
            <a href="index.html" class="home">
                HOME
            </a>
        </div>
        <div class="content">
            <div class="loginCenter">
                Login!
            </div>
            <form action="">
                <div class="inputValues">
                    login
                </div>
                <input type="text">
                <div></div>


                <div class="inputValues">
                    password
                </div>
                <input type="password">
                <div></div>
                <input type="submit" style="width: 50%;margin-left:auto;margin-right:auto;">
            </form>
        </div>
    </div>
</body>
</html>