<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cruise app</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <div th:replace="../static/topnav :: navbar">
        </div>
        <div class="body">
            <div class="inBody">
                <div class="inBody2">
                    <p>Username</p>
                    <p th:text="${user.getUsername()}"></p>
                    <p>Surname</p>
                    <p th:text="${user.getSurname()}"></p>
                </div>
                <div class="inBody2">
                    <p>Username</p>
                    <p th:text="${user.getUsername()}"></p>
                    <p>Surname</p>
                    <p th:text="${user.getSurname()}"></p>
                </div>
            </div>
            <div class="inBody">
                <div class="inBody2">
                    <p>Email</p>
                    <p th:text="${user.getEmail()}"></p>
                    <p>Phone number</p>
                    <p th:text="${user.getPhoneNumber()}"></p>
                </div>
                <div class="inBody2">
                    <p>Country</p>
                    <p th:text="${user.getCountry()}"></p>
                    <p>City</p>
                    <p th:text="${user.getCity()}"></p>
                </div>
            </div>
        </div>
        <div class="footer">
        </div>
    </div>
</body>
</html>