<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cruise app</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <div th:replace="../static/topnav :: navbar">
        </div>
        <div class="body">
            <div class="inBody">
                <div class="inBody2">
                    <p>Username</p>
                    <p th:text="${user.getUsername()}"></p>
                    <p>Surname</p>
                    <p th:text="${user.getSurname()}"></p>
                </div>
                <div class="inBody2">
                    <div th:if="${user.getPhoto() == null}">
                        <form method="post" th:action="@{/uploadPhoto}" enctype="multipart/form-data">
                            <input type="file" name="file" accept="image/png, image/gif, image/jpeg" th:attr="name = 'photo'">
                            <input type="submit" style="width: 50%;margin-left:auto;margin-right:auto;" value="Upload photo">
                        </form>
                    </div>
                    <div th:if="${user.getPhoto() != null}">
                        <img th:src="@{/${user.getPhotosImagePath()}}" width="100%" height="100%"/>
                    </div>
                </div>
            </div>
            <div class="inBody">
                <div class="inBody2">
                    <p>Email</p>
                    <p th:text="${user.getEmail()}"></p>
                    <p>Phone number</p>
                    <p th:text="${user.getPhoneNumber()}"></p>
                </div>
                <div class="inBody2">
                    <p>Country</p>
                    <p th:text="${user.getCountry()}"></p>
                    <p>City</p>
                    <p th:text="${user.getCity()}"></p>
                </div>
            </div>
        </div>
        <div class="footer">
        </div>
    </div>
</body>
</html>